@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html *::-webkit-scrollbar {
  width: 9px;
}

html *::-webkit-scrollbar-track {
  background-color: transparent;
}

html *::-webkit-scrollbar-thumb {
  background-color: rgb(131, 166, 209);
  border-radius: 4px;
}

body {
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
  color: #292f36;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
  font-weight: 600;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-weight: 500;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 22px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img,
picture {
  width: 100%;
  height: 100%;
  display: block;
}

.readmore {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #cda274;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.25s;
  }

  &:hover::before {
    scale: 1;
    transform-origin: left;
  }
}

.blur-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2.5s infinite;
  background-color: var(--text-color);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.blur-img.loaded::before {
  animation: none;
  content: none;
}

.blur-img img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.blur-img.loaded img {
  opacity: 1;
}

.count {
  width: 100% !important;
}

.quote::before {
  content: "";
  position: absolute;
  inset: -10px;
  height: 100%;
  border: 12px solid #F4F0EC;
  border-radius: 40px;
}

.quote::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 53%;
  height: 110%;
  background: white;
  z-index: 1;
}

.card {
  width: 280px;
  height: 380px;
  /* background: rgba(0, 0, 0, 0.362); */

  transition: all 0.4s;
  border-radius: 10px;

  box-shadow: 0px 0px 15px 2px  rgba(0, 0, 0, 0.666);

  font-size: 18px;
  font-weight: 900;

  position: relative;
}

.card:hover {
  cursor: pointer;
  border-radius: 15px;
  background: #cda274;

  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.336);
}

.first-content {
  position: absolute;
  inset: 0;

  opacity: 1;

  width: 100%;
  height: 100%;

  border-radius: 15px;
  transition: all 0.4s;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 18px;
  transform: rotate(0deg);
}
